@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#consoleLoggerOptions {
	padding: 8px;
}
#cl-list {
	margin: 2px;
}
consoleloggeritem {
	-moz-binding: url("chrome://consolelogger/content/options.xml#consoleLoggerItem");
}
#cl-list[cl_compact] > richlistitem:not([selected]) .cl-row-detail {
	overflow: hidden;
	height: 0;
}

#cl-filter[type="search"][cl-notFound] {
	-moz-box-shadow: 0 0 0 1em #f66 inset;
	box-shadow: 0 0 0 1em #f66 inset;
	color: white;
}
#cl-filter[type="timed"][cl-notFound] {
	outline: 2px solid #f66;
	outline-offset: -2px;
}
textbox[cl_highlight] {
	outline: 2px solid ThreeDShadow;
	outline-offset: -2px;
}

menuitem[checked="true"][cl_intermediate] .menu-iconic-left {
	opacity: 0.42;
}