@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
consoleloggeritem {
	-moz-binding: url("chrome://consolelogger/content/options.xml#consoleLoggerItem");
}
#cl-richlistbox[cl_compact] > richlistitem:not([selected]) .cl-row-detail {
	overflow: hidden;
	height: 0;
}